<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="CS" connectionString="Data Source=(local);Database =ClubERP;User ID= Phast;Connect Timeout=30;User Instance=False;"/>
    <add name="CS_azure" connectionString="Data Source=tcp:cluberp.database.windows.net,1433;Database =ClubERP;User ID= cluberpadmin@cluberp;Password=wHMtdUZ3;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
  </connectionStrings>
</configuration>