@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Centre Maritime de Nantes<br />
    14, rue du Bâtonnier Guinaudeau<br />
    44100 Nantes<br />
    <abbr title="Phone">Tél:</abbr>
    02 40 73 64 79
</address>

<address>
    <strong>Secrétariat:</strong>   <a href="mailto:secretariat@cmn.fr">secretariat@cmn.fr</a><br />
    <strong>Support informatique:</strong> <a href="mailto:it@cmn.fr">it@cmn.fr</a>
</address>