@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CMN</h1>
    @*<p class="lead">Tu ne sais pas encore quelle navigation choisir et tu veux toutes les afficher.</p>*@
    <p><a href="@Url.Content("~/Sail/Index")" class="btn btn-primary btn-lg">J'y vais</a></p>
</div>

@*<div class="row">
    <div class="col-md-4">
        <h2>La flotte</h2>
        <p>
            Découvre la flotte du CMN.
        </p>
        <p><a class="btn btn-default" href="@Url.Content("~/Boat/Index")">Fais ton choix!</a></p>
    </div>

    <div class="col-md-4">
        <h2>Les modes de navigation</h2>
        <p>
            Formation ou croisière.
        </p>
        <p><a class="btn btn-default" href="@Url.Content("~/SailingMode/Index")">Fais ton choix!</a></p>
    </div>
</div>*@